@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,100italic,300italic,400italic,700italic,900,900italic);

:root {
    --white-color: #fff;
    --black-color: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    background: #5c6bc0;

;
    color: var(--white-color);
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.mainContainer {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: repeat(4, 1fr) / auto 60% auto;
    justify-items: center;
}

.instructions {
    align-self: end;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}
.instructions h1 {
    margin-top: 100px;
    font-weight: normal;
    font-size: 2.5em;
    letter-spacing: 5px;
}
.instructions p {
    margin-top: 20px;
    line-height: 25px;
}
.container {
    display: grid;
    width: 90%;
    align-self: center;
    grid-column: 2;
    grid-row: 2;
}
#wordBox {
    padding: 30px 5px;
    margin: 50px 0 20px 0;
    color: var(--black-color);
    font-size: 3.5rem;
    line-height: 0;
}
#inputBox {
    padding: 0.5em 0;
    font-size: 1.5em; 
    color: var(--white-color);
    font-family: inherit;
    width: 100%;
    background-color: transparent;
    border-width: 0 0 1px 0;
    border-color: var(--white-color);
    margin-right: 10px;
    margin-bottom: 20px;
}

#inputBox::placeholder {
    color: var(--white-color);
}
#startButton {
    padding: 20px 30px;
    background-color: transparent;
    border: 1px solid var(--white-color);
    border-radius: 8px;
    color: var(--white-color);
    font-size: 1rem;
    justify-self: center;
    cursor: pointer;
}
#startButton:hover {
    background: rgba(256, 256, 256, .2);
    transition: all 0.35s ease;
}
.containerResults {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    grid-column: 2;
    grid-row: 3;
    /* overflow: auto; */
}
.results {
    text-align: left;
}
.correct {
    color:var(--white-color);
}
.wrong {
    color:var(--black-color);
}
.fade {
    opacity: 0;
}
.levelTwo {
    transition: background 1.5s ease;
    background: #2196f3;
}
.levelThree {
    transition: background 1.5s ease;
    background:#4db6ac;
}

/* Responsive Design */

@media screen and (max-width: 830px){
    .mainContainer {
        grid-template: repeat(4, 1fr) / auto 70% auto;
    }
    .container {
        width: 100%;
    }
    #startButton {
        width: 100%;
    }
    #wordBox {
        font-size: 2rem;
    }
}